In [3]:
name = "차요준"
age = 29
item_count = 100

print(name)

차요준

In [4]:
print(name, age, item_count)

차요준 29 100

In [6]:
x = 5
y = -1
z = 0
money = 1_000_000_000_000

print(x, y, z, money)

5 -1 0 1000000000000

In [7]:
print(type(money))

<class 'int'>

In [13]:
posts = 100
posts_per_page = 30

page = posts // posts_per_page
remainder = posts % posts_per_page + 1
print(page, remainder)

3 11

In [15]:
# "철수가 말했습니다"
message = "\"철수가 말했습니다\""
print(message)

"철수가 말했습니다"

In [19]:
name1 = [3, 4, 5, 5, 6]
name2 = "홍길동 "

print(name1)
print(name2)

[3, 4, 5, 5, 6]
홍길동

In [20]:
print(len(name1))

5

In [22]:
regist_num = "901212-1325221"

# 1. 성별까지 문자열을 추출한다.
# 2. 뒤의 6자리를 *로 표현한다. 
# 1과 2를 합친다.

left = regist_num[:8]
print(left)
right = "*" * 6
print(right)

result = left + right
print(result)

901212-1
******
901212-1******

In [4]:
name = "    홍길동    " 

print(name)
print(f"|{name.strip()}|")
print(f"|{name.lstrip()}|")
print(f"|{name.rstrip()}|")

    홍길동
|홍길동|
|홍길동    |
|    홍길동|

In [5]:
gender1 = "mmffMFmf"
gender2 = gender1.lower()

print(gender1.count("m"))
print(gender2.count("m"))

3
4

In [11]:
review = """안녕하세ㅐ요 존ㄴ눈ㅇㄴ아ㅓㄴ아ㅓ죰ㄴ이만엌ㅌ차ㅓㅑㅂ야마ㅣㄴ어ㅣ마너이ㅏㅁ넝ㅁㄴ" \
"미나어미ㅏ너이ㅏㅁ너이ㅏ먼이ㅏㅓㅁㄴ이ㅏㅓㅁ니ㅏ어ㅣㅁ나ㅓ이마너이ㅏㅓㅁㄴㅇ
ㅁ너이ㅏㅁ너이ㅏㅁ너이ㅏㅁ너이ㅏ먼이ㅏㅓㅁㄴ이ㅏㅓ
"""
print(review)

안녕하세ㅐ요 존ㄴ눈ㅇㄴ아ㅓㄴ아ㅓ죰ㄴ이만엌ㅌ차ㅓㅑㅂ야마ㅣㄴ어ㅣ마너이ㅏㅁ넝ㅁㄴ" "미나어미ㅏ너이ㅏㅁ너이ㅏ먼이ㅏㅓㅁㄴ이ㅏㅓㅁ니ㅏ어ㅣㅁ나ㅓ이마너이ㅏㅓㅁㄴㅇ
ㅁ너이ㅏㅁ너이ㅏㅁ너이ㅏㅁ너이ㅏ먼이ㅏㅓㅁㄴ이ㅏㅓ

In [12]:
print(review.count("ㅇ"))

2

In [16]:
orders = ["pasta", "pizza", "coke", "bread"]
# 거꾸로
print(orders[::2])

['pasta', 'coke']

In [22]:
num_list = list(range(8))
print(num_list)

print(num_list[1])
num_list[1] = "일"
print(num_list)

print(num_list[5])
num_list[5] = "오"
print(num_list)

print(num_list[2:4])
num_list[2:4] = ["two", "three"]
print(num_list)

# 3번째에서 끝까지의 데이터를 "하하하"로 바꾸기
print(num_list[3:])
num_list[3:] = "하하하"
print(num_list)

# 처음부터 3번째까지의 데이터를 10으로 바꾸기 
print(num_list[:4])
num_list[:4] = 10
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7]
1
[0, '일', 2, 3, 4, 5, 6, 7]
5
[0, '일', 2, 3, 4, '오', 6, 7]
[2, 3]
[0, '일', 'two', 'three', 4, '오', 6, 7]
['three', 4, '오', 6, 7]
[0, '일', 'two', '하', '하', '하']
[0, '일', 'two', '하']

TypeError: can only assign an iterable

In [35]:
data = list(range(5))
print(data)

data = data + [5]
print(data)

data = data + [1, 2, 3]
print(data)

data.append([1, 2, 3, 4, 5])
print(data)

data.extend([1,2,3,4])
print(data)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 1, 2, 3, [1, 2, 3, 4, 5]]
[0, 1, 2, 3, 4, 5, 1, 2, 3, [1, 2, 3, 4, 5], 1, 2, 3, 4]

In [38]:
num_list = [10, 20, 30]
print(num_list)

num_list.insert(3, 40)
print(num_list)

[10, 20, 30]
[10, 20, 30, 40]

In [55]:
num_list = list(range(0, 100, 10))
print(num_list)


# 3번째 데이터를 삭제해주세요(del 이용)
del num_list[3]
print(num_list)

# 7번째 데이터를 삭제해주세요(remove 이용)
num_list.remove(70)
print(num_list)

# 뒤에서 3번째부터 끝까지 데이터를 삭제해주세요
print(num_list[-3:])
num_list[-3:] = []
print(num_list)

# 맨 뒤에 있는 데이터를 삭제하고 그 값을 출력해주세요(pop 이용)
print(num_list.pop())
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 80, 90]
[60, 80, 90]
[0, 10, 20, 40, 50]
50
[0, 10, 20, 40]

In [69]:
import pandas as pd
# "ID003" 데이터에 오류가 생겼다. 
# 오류가 생긴 데이터는 삭제하고 error_data에 담아주세요'

post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]

pop_data = post_data.pop(2)
print(pop_data)
print(post_data)

error_data = []
error_data.append(pop_data)
print(error_data)

ID003
['ID001', 'ID002', 'ID004', 'ID005']
['ID003']

In [71]:
data = ()
print(data)
print(type(data))

()
<class 'tuple'>

In [1]:
score_data1 = {
    "이름": ["홍길동", "최수연", "김철수"],
    "성적": [68, 44, 90]
}
score_data2 = {
    "홍길동": 68, "최수연": 44, "김철수": 90
}
print(score_data1)

{'이름': ['홍길동', '최수연', '김철수'], '성적': [68, 44, 90]}

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [3]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
print(weather_data)

{'city': 'Seoul', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy']}

In [6]:
weather_data["Seoul"] = "Busan"
print(weather_data)

{'city': 'Seoul', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy'], 'Seoul': 'Busan'}

In [7]:
weather_data["pm10"] = 34
print(weather_data)

{'city': 'Seoul', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy'], 'Seoul': 'Busan', 'pm10': 34}

In [11]:
weather_data["forecast"].append(["Rainy", "Rainy"])
print(weather_data["forecast"])

weather_data["forecast"].extend(["Rainy", "Rainy"])
print(weather_data)

['Sunny', 'Cloudy', 'Rainy', ['Rainy', 'Rainy'], ['Rainy', 'Rainy'], ['Rainy', 'Rainy'], 'Rainy', 'Rainy', ['Rainy', 'Rainy']]
{'city': 'Seoul', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy', ['Rainy', 'Rainy'], ['Rainy', 'Rainy'], ['Rainy', 'Rainy'], 'Rainy', 'Rainy', ['Rainy', 'Rainy'], 'Rainy', 'Rainy'], 'Seoul': 'Busan', 'pm10': 34}

In [14]:
student = {"name": "홍길동", "age": 28, "height": 187.3, "score": 88}

In [22]:
print(list(student.keys()))
print(type(student.keys()))

print(list(student.values()))
print(type(student.values()))

print(list(student.items()))
print(type(student.items()))

['name', 'age', 'height', 'score']
<class 'dict_keys'>
['홍길동', 28, 187.3, 88]
<class 'dict_values'>
[('name', '홍길동'), ('age', 28), ('height', 187.3), ('score', 88)]
<class 'dict_items'>

In [26]:
student = {"name": "홍길동", "age": 28, "height": 187.3, "score": 88}

# name키에 대한 값을 추출해주세요
print(student["name"])
print(student.get("weight", "없음"))

홍길동
없음

In [ ]:
# 중복 제거
set_list = [1, 1, 4, 5, 5, 5, 5, 5, 5, 3]
set(set_list)

{1, 3, 4, 5}

In [28]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
print(set(emails))

{'user2@example.com', 'user1@example.com', 'user3@example.com'}

In [30]:
age = 30
if age < 20:
    print("술마시지마")
else:
    print("술쳐먹어!")

술쳐먹어!

In [31]:
# 등급에 따라 메시지 출력하기
# A-Perfect, B-Excellent, C-Good, 그 외 노력하세요라고 출력해주세요
grade = "F"

# 만약에 grade가 A이면 Perfect라고 출력하고
# 그렇지 않다면 만약에 grade가 B이면 Excellent라고 출력하고
# 그렇지 않다면 만약에 grade가 C이면 Good이라고 출력하고
# 그렇지 않다면 노력하세요라고 출력해라

if grade == "A":
    print("perfect")
elif grade == "B":
    print("Excellent")
elif grade == "C":
    print("Good")
else:
    print("뒤지고싶어요?")

뒤지고싶어요?

문제. 나이가 10세 이상이고, 키가 120cm 이상일 때만 놀이기구 탑승

* 탑승 가능하면 "통과" 아니면 "탑승 불가"라고 출력하기

In [1]:
age = 14
height = 119

if age >= 10 and height >= 120:
    print("통과")
else:
    print("탑승 불가")

탑승 불가

문제. 10만원 이상 구매하거나 "Gold" 등급이면 10% "할인" 출력

* 할인이 가능하면 "10% 할인 가능" 아니면 "10% 할인 불가" 출력

In [2]:
price = 8000
level = "Gold"

if price >= 100000 or level == "Gold":
    print("10% 할인 가능")
else:
    print("10% 할인 불가")

10% 할인 가능

In [3]:
# 지갑 안에 운전면허증(license)이 있다면 통과이고 없으면 벌금이다. 
# 만약 벌금을 납부하게 되면 지갑에 카드(credit card)가 있으면 카드 결제이고 아니면 현금 납부이다. 

# 벌금을 납부하게 된다면 "벌금 대상자"을 출력하고 아니면 "통과"를 출력한다
# 그리고 벌금을 납부하게 된다면 "카드납부" 아니면 "현금납부"를 출력한다.
# 이 사람은 어떻게 해야 하는가?
wallet = ["credit card", "trash"]

if license in wallet:
    print("통과")
else:
    print("벌금 대상자")
    if "credit card" in wallet:
        print("카드납부")
    else:
        print("현금납부")

벌금 대상자
카드납부

In [6]:
# append / extend 차이 알기
# 인스타그램 태그 수집기 
# post1 : #헬스, #단백질
# post2 : #닭가슴살, #다이어트, #단백질
# post3 : #요요, #헬스, #다이어트
# post4 : #닭가슴살, #단백질

# 문제 1. 인스타그램 포스트별로 데이터를 수집하고 싶다
# 문제 2. 모든 해시태그들을 tags라는 변수에 담고 싶다
# 문제 3. 해시태그 카테고리가 몇 개인지 알고 싶다

post1 = "헬스", "단백질"
post2 = "닭가슴살", "다이어트", "단백질"
post3 = "요요", "헬스", "다이어트"
post4 = "닭가슴살", "단백질"

posts = [post1, post2, post3, post4]
tags = [posts[0, "tags"]]
for post in posts:
    tags.append(post)

TypeError: list indices must be integers or slices, not tuple

문제 1. 온도가 15도에서 25도 사이인지 확인하는 예시:

In [8]:
temperature = 50

# 15 < temperature < 25
# temperature > 15 그리고 temperature < 25 (and)

if temperature > 15 and temperature < 25:
    print("온도가 15도에서 25도 사이 입니다.")
else:
    print("온도가 15도에서 25도 사이가 아닙니다.")

온도가 15도에서 25도 사이가 아닙니다.

문제 2. 학생의 성적에 따른 장학금 여부 결정

* GPA가 4.0 이상이면 100% 장학금을 받습니다.
* GPA가 3.5 이상이면 50% 장학금을 받습니다.
* GPA가 3.0 이상이면 30% 장학금을 받습니다.
* 그 외에는 장학금을 받을 수 없습니다.

In [9]:
# if - elif - else
gpa = 1.0

if gpa >= 4.0:
    print("100% 장학금")
elif gpa >= 3.5:
    print("50% 장학금")
elif gpa >= 3.0:
    print("30% 장학금")
else:
    print("장학금을 받을 수 없습니다.")

장학금을 받을 수 없습니다.

문제 3. 특정 단어가 문장에서 없는지 확인

* search_word가 text에 포함되지 않으면 해당 단어가 문장에 없다는 메시지를 출력합니다.

In [13]:
text = "데이터 분석은 흥미롭고 중요한 분야입니다."
search_word = "AI"

# 조건식 search_word in text

if search_word in text:
    print("문장에 포함 되어 있습니다.")
else:
    print("문장에 포함 되어 있지 않습니다.")

if search_word not in text:
    print("포함 안됨")
else:
    print("포함")

문장에 포함 되어 있지 않습니다.
포함 안됨

In [ ]:
count = 0
while count < 3:
    print(count)
    count += 1

count = 0 -> 조건식 count < 3 True -> print(0)

In [14]:
num_list = [1, 2, 3]
for num in num_list:
    print(num)

1
2
3

In [20]:
# range(n): 0부터 n-1까지 1씩 증가하는 연속적인 범위를 생성해줌
# range()를 이용해서 다음 출력이 나오도록 코딩해주세요
# 출력 결과
# 1
# 2
# 3
# 4
# 5 

# 1. range를 이용해서 [1, 2, 3, 4, 5]를 만들어보기
# 2. 반복문 만들기


num_list = list(range(1, 6))
print(num_list)

for num in num_list:
    print(num)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [24]:
for num in range(5):
    print(num+1)

1
2
3
4
5

In [28]:
students = ["차요준", "이다희", "서연재", "우경훈", "전지호"]

for student in students:
    print(student)


count = len(students)

print(count)

차요준
이다희
서연재
우경훈
전지호
5

In [29]:
# 위치 이름
count = len(students)
# print(count)

for i in range(count):
    print(i, students[i])

0 차요준
1 이다희
2 서연재
3 우경훈
4 전지호

In [31]:
for i, student in enumerate(students, start=1):
    print(i, student)

1 차요준
2 이다희
3 서연재
4 우경훈
5 전지호

In [42]:
# 미션
score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}

# # 출력 결과
# for name in score_data.keys():
#     print(name)

# for name in score_data:
#     print(name)

# # 출력 결과
# 68
# 44
# 90
# for name in score_data.values():
#     print(name)

# ## 출력 결과
# 홍길동 68점
# 최수연 44점
# 김철수 90점

for name in score_data.keys():
    print(name)
for score in score_data.values():
    print(score)
for name, score in score_data.items():
    print(f"{name} {score}점")

홍길동
최수연
김철수
68
44
90
홍길동 68점
최수연 44점
김철수 90점

In [44]:
names = ["홍길동", "최수연", "김철수"]
scores = [68, 44, 90]

# ## 출력 결과
# 홍길동 68점
# 최수연 44점
# 김철수 90점

for name, score in zip(names, scores):
    print(name, score)

홍길동 68
최수연 44
김철수 90

In [45]:
# 1부터 10까지 숫자를 하나씩 출력 만약 7이 나오면 반복문 중지

for i in range(1,11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [46]:
for i in range(1, 11):
    print(i)
    if i == 7:
        break

1
2
3
4
5
6
7

In [5]:
# 1부터 10까지 숫자 중에서 5만 빼고 출력하기
for i in range(1, 11):
    if i == 5:
        print("지나가이 새끼야!")
        continue
    print(i)

1
2
3
4
지나가이 새끼야!
6
7
8
9
10

예제1. 학생 성적 딕셔너리

반복문을 사용해서 "홍길동님의 성적은 85점입니다" 형태로 출력하세요.

```
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
```

In [21]:
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}

for name, grade in grades.items():
    print(f"{name}님의 성적은 {grade}점입니다.")

John님의 성적은 85점입니다.
Emily님의 성적은 92점입니다.
Tom님의 성적은 78점입니다.
Lucy님의 성적은 88점입니다.

예제2. 센서 온도 데이터

30도 이상인 데이터만 출력하세요

```
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
```

In [25]:
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]

for temperature in temperature_data:
    if temperature >= 30:
        print(temperature)

35.2
40.1

예제 3. 고객 주문 데이터

반복문을 사용해서 총 매출을 계산하세요.

```
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
```

In [11]:
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
price = 0

for order in orders:
    price += order["amount"]
print(price)

304000

In [5]:
nums = []
for num in range(1, 11):
    if num % 2 == 0:
        nums.append(num)
        print(nums)

nums = [num for num in range(1, 11) if num % 2 ==0]
print(nums)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [10]:
nums = []

for num in range(1, 11):
    if num % 2 == 0:
        nums.append(num)
    else:
        nums.append("홀수")
    print(nums)

nums = [num if num % 2 == 0 else "홀수" for num in range(11)]
print(nums)

['홀수']
['홀수', 2]
['홀수', 2, '홀수']
['홀수', 2, '홀수', 4]
['홀수', 2, '홀수', 4, '홀수']
['홀수', 2, '홀수', 4, '홀수', 6]
['홀수', 2, '홀수', 4, '홀수', 6, '홀수']
['홀수', 2, '홀수', 4, '홀수', 6, '홀수', 8]
['홀수', 2, '홀수', 4, '홀수', 6, '홀수', 8, '홀수']
['홀수', 2, '홀수', 4, '홀수', 6, '홀수', 8, '홀수', 10]
[0, '홀수', 2, '홀수', 4, '홀수', 6, '홀수', 8, '홀수', 10]

IndentationError: expected an indented block after function definition on line 1 (2782959161.py, line 2)

In [6]:
def hello():
    return "hello"
hello()

'hello'

In [7]:
message = hello()
print(message)

hello

In [2]:
def calc_add(x:float, y:float):
    return x * y

In [4]:
result = calc_add(2.4, 4.4)
print(result)

10.56

In [8]:
def prt_info(name, age):
    print(f"{name}님의 나이는 {age}세입니다.")

prt_info(29, "차요준")

29님의 나이는 차요준세입니다.

In [ ]:
def prt_info(name, age, gender="남성"):
    prt_info(f"{name}님의 나으")

검정
귀무가설(H0)
대립가설(H1)
statistics, p-value
p-value < 0.05(=유의수준)
-----> 유의수준 5%하에서 귀무가설을 기각합니다.

1. 정규성 검정
H0: 정규분포를 따른다
H1: 정규분포를 따르지 않는다. 
shapiro(소규모 데이터에 유리)
2. 평균 검정
1) 독립표본 T-test 
# Step1. 등분산 검정
H0: 집단 A, B의 분산이 같다
H1: 집단 A, B의 분산이 같지 않다. 
levene(A, B)
# Step2. 독립표본 T-test
H0: 집단 A, B의 평균은 같다
H1: 집단 A, B의 평균은 같지 않다. 
ttest_ind(A, B, equal_var=?)
2) 대응표본 T-test
H0: 전과 후의 차이가 없다.(전-후 = 0)
H1: 전과 후의 차이가 있다.(전-후 != 0)
diff = 전 - 후
ttest_rel(diff)
3) ANOVA
# Step1. 등분산 검정
H0: 집단 A, B, C의 분산이 같다
H1: 집단 A, B, C의 분산이 같지 않다. 
levene(A, B, C)
# Step2. ANOVA 분석
H0: 집단 A, B, C의 평균이 같다.
H1: 집단 A, B, C의 평균이 같지 않다.
f_oneway(A, B, C)
3. 독립성 검정
범주형 데이터 두 집단이 독립인가 아닌가 판단
H0: 두 집단이 서로 독립이다.
H1: 두 집단이 서로 독립이 아니다. 
교차표(cross_data) = pd.crosstab()
chi2_contingency(cross_data)
expected_data

In [ ]:
import json