### 파이썬 300제 문제풀이

In [1]:
import pandas as pd
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

data = {
    "순위" : [1, 2, 3],
    "영화" : ["닥터 스트레인지", "스플릿", "럭키"]
}
data_list = pd.DataFrame(data)
print(data_list.to_string(index=False))


movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

 순위       영화
  1 닥터 스트레인지
  2      스플릿
  3       럭키
['닥터 스트레인지', '스플릿', '럭키']

In [2]:
# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [3]:
# 054
# movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]   # movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [4]:
# 055
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[-2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [5]:
# 056   2025.07.26 시작
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [6]:
# 057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

print("max:", max(nums))
print("min:", min(nums))

max: 7
min: 1

In [7]:
# 058
# 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [8]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [9]:
# 060
# 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]

average = sum(nums) / len(nums)
print(average)

3.0

In [10]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ["20180728", 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

In [11]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

In [12]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [33]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]

print(nums[::-1])

[5, 4, 3, 2, 1]

In [14]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ["삼성전자", "LG전자", "Naver"]

print(interest[::2])
print(interest[0], interest[-1])

['삼성전자', 'Naver']
삼성전자 Naver

In [15]:
# 066 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
# 출력 예시:
# 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

result1 = " ".join(interest)
print(result1)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [16]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
# 출력 예시:
# 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [17]:
# 068 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [18]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"

# 이를 interest 이름의 리스트로 분리 저장하라.

# 실행 예시
# >> print(interest)
# ['삼성전자', 'LG전자', 'Naver']

print(string.split("/"))

interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']
['삼성전자', 'LG전자', 'Naver']

In [31]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]

# 1번 오름차순 방법
data.sort()
print(data)

# 2번 오름차순 방법
data_list1 = sorted(data)
print(data_list1)

# 1번 내림차순 방법
data.sort(reverse=True)
print(data)

# 2번 내림차순 방법
data_list2 = sorted(data, reverse=True)
print(data_list2)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]
[10, 9, 5, 4, 3, 2, 1]
[10, 9, 5, 4, 3, 2, 1]

In [ ]:
# 071  2025.07.27
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
print(my_variable)
print(type(my_variable))

()
<class 'tuple'>

In [5]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 
# 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [8]:
# 073
# 숫자 1 이 저장된 튜플을 생성하라.

num = (1)
print(num)
print(type(num))

num = (1, )
print(num)
print(type(num))

1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
# 074
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

# >> t = (1, 2, 3)
# >> t[0] = 'a'
# Traceback (most recent call last):
#   File "<pyshell#46>", line 1, in <module>
#     t[0] = 'a'
# TypeError: 'tuple' object does not support item assignment

튜블은 변수안에 있는 데이터 값을 변경할 수 없습니다!
tuple은 원소(element)의 값을 변경할 수 없습니다.

In [ ]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. 
# t가 바인딩하는 데이터 타입은 무엇인가?
t = 1, 2, 3, 4
= 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 
사용자 편의를 위해 괄호 없이도 동작합니다.
print(type(t))

<class 'tuple'>

In [17]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 
# 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

t = ("A", "b", "c")
print(t)

('A', 'b', 'c')

In [22]:
# 077
# 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

print(list(interest))
print(type(interest))

['삼성전자', 'LG전자', 'SK Hynix']
<class 'tuple'>

In [23]:
# 078
# 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
# 079 튜플 언팩킹
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

apple banana cake

In [29]:
# 080 range 함수
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# (2, 4, 6, 8 ... 98)

print(tuple(range(2, 100, 2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [9]:
# 084 비어있는 딕셔너리
# temp 이름의 비어있는 딕셔너리를 만들라.

temp = {}
print(temp)

{}

In [15]:
# 085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

data = {
    "메로나": 1000,
    "폴라포": 1200,
    "빵빠레": 1800
}
print(data)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [22]:
# 086
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

data["죠스바"] = 1200
data["월드콘"] = 1500

print(data)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 087
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격:", ice["메로나"])

메로나 가격: 1000
1000

In [39]:
# 088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [42]:
# 089
# 다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}